body {
    background-color: lightpink;
    font-family: cursive;
};

#pets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;       
}

.pets {
    border: solid 4px brown;
    border-radius: 10px;
    box-shadow: 3px 3px palevioletred;
    width: 400px;
    margin: 10px;
    align-items: center;
    text-align: center;
    flex-direction: row;
    float: left;
}

img {
    max-width: 300px;
    max-height: 300px; 
    width: auto;
    height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: lightpink;
}
li {
  display: inline;
}
a {
  display: inline-flex;
  padding: 8px;
  background-color: brown;
  font-size: 22pt;
  font-weight: bolder;
  border-radius: 15px;
}
   
.section {
    margin: 20px;
    border: 3px solid brown;
    padding: 20px;
    height: 1000px;
  }

  h1 {
    text-align: center;
  }

  nav {
    text-align: center;
  }
  